## Build
*.dll
*.exe
*.pdb
bin/
obj/
publish/

## IDE
.vs/
.vscode/
*.user
*.suo
*.cache

## SQLite
*.db
*.db-shm
*.db-wal

## Secrets
appsettings.Development.json
appsettings.Production.json

## OS
Thumbs.db
.DS_Store
